body {
    background: url(/public/images/giga2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-default {
    position: relative;
    opacity: 0.9;
    margin-top:30px;
    right:70%;
    top: 150px;
}
.form-group.last { margin-bottom:0px; }