body {
  padding-top: 10px;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar{
opacity:1.0;
background-color: #ffffff;
height:100px;

}

.navbar-right{

    position: relative;
    top:35px;
    right:50px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;

}

#ataka{
    position: relative;
    top:60px;
    left: 150px;
    font-weight: 900;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 200px;
    color: white;
}

#followAtaka{
    position: relative;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 0.155em;
    color:#f5f5f5;
    font-size: 80px;
    top:30px;
    left:370px;


}


.jumbotron{
height:696px;
background: url(/public/images/gig4.jpg);
}

.navbar-nav{
  float: right;
}

p#downloadbutton{
   float: right;
   padding: 100px;
	
}


#whatispsyapp{
 text-align:center;
 padding-bottom:70px;
 padding-top:50px;
}

.col-lg-3{
 text-align: center;
 padding-top:100px;
 padding-bottom:100px;
}

.col-lg-4{
 text-align: center;
 padding-top:100px;
 padding-bottom:100px;
}

.col-md-7{
 padding:10px;
}

.col-md-5{
padding-top:40px;
padding-bottom:40px;
}

div#firstpart{
 margin-bottom: 100px;
}

#amount{
 padding:30;
}

#addcredits{
 display:none;
}

#profilediv{
 display:none;
}

#experiments{
 display:none;
 overflow-y: scroll;
 height:600px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

footer {

    padding-top: 40px;

}





