<h1>Sup user?</h1>

<a class="twitter-timeline"  href="https://twitter.com/search?q=%23cubas+"  data-widget-id="406749425130672128">Tweets about "#rbnews "</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


